<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KamarTaj- Viajes Extraordinarios</title>
	<link rel="stylesheet" href="style/style.css">
	<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
	<nav> 
		<a href="index.html">
		<img src="Img/logo.jpg" alt="logo de KamarTaj viajes diferentes" class="imagineSize">
		</a>
		<ul>
			<li>
				<a href="views/historia y recorrido.html">Historia y Recorridos</a>
			</li>
			<li>
				<a href="views/consideraciones.html"> Consideraciones</a>
			</li>
			<li>
				<a href="views/paquetes.html">Paquetes</a>
			</li>
			<li>
				<a href="views/contactanos.html">Contactanos</a>
			</li>
		</ul>
	</nav>
	<header	class="videoSize">
		<video src="Videos/Montañaindex.mp4" autoplay muted loop></video>
	</header>
	<main>
		<section class="boxBorder"> 
				<h1 class="bgDarkSize"> Momentos y Aventuras que nunca viste</h1>
				<p class="pSize">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Nam minima explicabo, necessitatibus voluptas modi nostrum iusto mollitia doloribus incidunt deleniti fugit dicta laborum saepe suscipit exercitationem, asperiores, repudiandae reiciendis consequuntur?Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Magnam non molestias itaque, placeat ipsum, reprehenderit, recusandae ut facilis tenetur atque totam odio fugiat voluptatum? Architecto odio aliquam quisquam porro molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>
			
		<div class="grid-imagen">
			<a href="views/Historia y recorrido.html">
			<img src="Img/imagenSobrenosotros.jpg" alt="imagen aperura de historia y recorridos">
			</a>
			<a href="views/Paquetes.html">
			<img src="Img/imagen1.jpeg" alt="imagen aperura de historia y recorridos" class="imagentamaño">
			</a>
		</div>
	</main>
	<footer>
		<div>
		<a href="https://www.facebook.com/" target="_blank"> <img src="img/facebook.png" class="pieInde"></a>
		<a href="https://www.twitter.com/" target="_blank"><img src="img/twitter.png" class="pieInde"></a>
		<a href="https://www.instagram.com/" target="_blank"><img src="img/instagram.png" class="pieInde"></a> 
		</div>
			<div class="pieIndex">
			<strong>
			Direccion: Av. Rivadavia 380
			Cordoba
			Cordoba- Argentina
			</strong>
			<strong>
			Informacion:
			(0351) 155678954
			Karma@travel.com
			</strong>
			</div>

		<section>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.0737022652975!2d-64.1807139!3d-31.41209539999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a29d654e11c3%3A0x35529561fee1e420!2sRivadavia%20380%2C%20X5021KEH%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1653945260992!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="position"></iframe></section>

		</section>
	</footer>
	

</body>
</html><!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	

</body>
</html>